#board{
    /* display: flex; */
    border: 1px solid black;
}
#firstContainer{
    display: flex;
    border: 1px solid black;
    height: 200px;
}

#red{
    display:block;
    border: 1px solid black;
    background-color: red;
    width: 32%;
}
.top{
    display: flex;
    /* width: 100%; */
    height: 50%;
}
.bottom{
display: flex;
/* width: 100%; */
height: 50%;
}
.smallCircles{
    width: 50%;
    border-radius: 100%;
    background-color: aliceblue;
}

#redGreenTrack{
    display:flexbox;
    border: 1px solid black;
    /* background-color: red; */
    width: 32%;
}



#Green{
    display: block;
    border: 1px solid black;
    background-color: green;
    width: 32%;
}

#secondContainer{
    display: flex;
    border: 1px solid black;
    height: 400px;
}




#thirdContainer{
    display: flex;
    border: 1px solid black;
    height: 200px;
}


#Blue{
    display: block;
    border: 1px solid black;
    background-color: blue;
    width: 32%;
}

#blueYellowTrack{
    display:flexbox;
    border: 1px solid black;
    /* background-color: red; */
    width: 32%;
}

#Yellow{
    display: block;
    border: 1px solid black;
    background-color: yellow;
    width:32%;
}